automation/workflows/001-webhook-create-test.json
{
  "name": "001-webhook-create-test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/tarefas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -16
      ],
      "id": "bfaa920b-08c3-4cb9-910d-084ba79d3fa4",
      "name": "Webhook",
      "webhookId": "42ef4e73-6e30-46eb-8153-6facc43190cf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4567/tarefas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        -32
      ],
      "id": "f4694ea0-0d64-40aa-b607-dcd82fe3ce79",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6471ca5f-146c-4bc0-b5f3-e0bb7c008e18",
              "leftValue": "={{ $json.body.titulo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        -16
      ],
      "id": "8bf3cf70-2973-44ad-9147-9c48e7481466",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Campo 'title' obrigatório.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        192,
        144
      ],
      "id": "258b45de-4f66-403d-b2f5-73f580492a3e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"message\": \"Webhook recebido com sucesso\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        -32
      ],
      "id": "b9991817-7ecb-4949-80fe-760cdeeea691",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"titulo\": \"{{ $json.body.titulo }}\",\n  \"descricao\": \"{{ $json.body.descricao }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -128
      ],
      "id": "1e5bc907-b1c9-4a31-9831-81bc12b74447",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "75b2d03a-d798-4c34-b422-054a1787ef49",
  "meta": {
    "instanceId": "7a4edcdca486e432d965d520fd683fd2e83a278c2b3a94ceaee3da6d50e746e2"
  },
  "nodeGroups": [],
  "id": "QsdAieHHb2NS7vir",
  "tags": []
}