automation/workflows/003-ai-manages-tasks.json
{
  "name": "003-ai-manages-tasks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/tarefas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        64
      ],
      "id": "e8a4f18f-b273-4531-ab79-be9368363cb6",
      "name": "Webhook",
      "webhookId": "42ef4e73-6e30-46eb-8153-6facc43190cf"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"message\": \"Webhook recebido com sucesso\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        -208
      ],
      "id": "9dc18fdd-f400-452f-b6e1-ee6ba32146db",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"titulo\": \"{{ $json.output.titulo }}\",\n  \"descricao\": \"{{ $json.output.descricao }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -192
      ],
      "id": "35771f4b-0c2a-4a56-a3db-7b4b0d0b6156",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um interpretador de comandos para um sistema de gerenciamento de tarefas.\n\nSua função é identificar a intenção do usuário e extrair apenas as informações necessárias para executar a ação.\n\nAs ações permitidas são:\n\n- criar_tarefa\n- listar_tarefas\n- concluir_tarefa\n- excluir_tarefa\n\nRegras:\n\n- Responda apenas utilizando o schema informado.\n- Nunca escreva explicações.\n- Nunca utilize markdown.\n- Nunca invente informações.\n- Caso algum campo não exista na mensagem, retorne uma string vazia.\n\nExemplos:\n\nUsuário:\n\"Adicionar tarefa estudar TypeScript\"\n\nResposta:\nacao: criar_tarefa\ntitulo: Estudar TypeScript\n\n---\n\nUsuário:\n\"Liste minhas tarefas\"\n\nResposta:\nacao: listar_tarefas\ntitulo: \"\"\ndescricao: \"\"\n\n---\n\nUsuário:\n\"Concluir tarefa estudar IA\"\n\nResposta:\nacao: concluir_tarefa\ntitulo: Estudar IA\n\n---\n\nUsuário:\n\"Excluir tarefa comprar pão\"\n\nResposta:\nacao: excluir_tarefa\ntitulo: Comprar pão"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        64
      ],
      "id": "83dc7e91-0830-4ee3-9c92-f2a6750297db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -576,
        256
      ],
      "id": "a4a19d9a-ffaa-4502-8d73-a5ecba7e6d4a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IjrlPl4c7FbqIFnn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"acao\": {\n      \"type\": \"string\",\n      \"description\": \"A operação que o usuário deseja executar.\"\n    },\n    \"titulo\": {\n      \"type\": \"string\",\n      \"description\": \"Título da tarefa.\"\n    },\n    \"descricao\": {\n      \"type\": \"string\",\n      \"description\": \"Descrição da tarefa.\"\n    }\n  },\n  \"required\": [\n    \"acao\",\n    \"titulo\",\n    \"descricao\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -304,
        320
      ],
      "id": "949a4085-f4c3-4e80-ab69-85c0737cb0d4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.acao }}",
                    "rightValue": "criar_tarefa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "472ab47b-dc86-4a7b-80d0-0615e5a90b83"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "criar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "80e2a0eb-23a5-4160-b031-c0ff248a4b7b",
                    "leftValue": "={{ $json.output.acao }}",
                    "rightValue": "listar_tarefas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "listar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "41ea46f4-5d08-41cd-b527-581e537cc12d",
                    "leftValue": "={{ $json.output.acao }}",
                    "rightValue": "concluir_tarefa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "concluir"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7bd02f9c-051d-4425-99be-d8b73f298b42",
                    "leftValue": "={{ $json.output.acao }}",
                    "rightValue": "excluir_tarefa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "excluir"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        64
      ],
      "id": "47d985df-5c1f-4822-9d15-5be754806808",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4567/tarefas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        -208
      ],
      "id": "0ba25e1a-2848-419a-8f9a-120424044777",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "http://localhost:4567/tarefas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        -32
      ],
      "id": "75c1d4ae-80f0-4b97-bca5-1161cad73265",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        -32
      ],
      "id": "9e052dc1-4fc5-4c2b-9f2c-5676e852962d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const tarefas = $input.all();\n\nconst titulo = $('AI Agent').first().json.output.titulo;\n\nconst tarefa = tarefas.find(item =>\n    item.json.titulo.toLowerCase() === titulo.toLowerCase()\n);\n\nif (!tarefa) {\n    throw new Error(\"Tarefa não encontrada.\");\n}\n\nreturn [\n    {\n        json: {\n            id: tarefa.json.id,\n            titulo: tarefa.json.titulo\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        144
      ],
      "id": "6baad3dc-d6dd-4f26-ba1e-09c6812135ca",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "http://localhost:4567/tarefas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        144
      ],
      "id": "70de2f79-2529-468c-aeb7-56829ece4618",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:4567/tarefas/{{ $json.id }}/concluir",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        144
      ],
      "id": "3920eba5-6e48-4621-bd7a-fc1a42262791",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"message\": \"Tarefa concluida com sucesso\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1088,
        144
      ],
      "id": "bade5aae-6a6f-42f5-944b-a727524af80b",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "url": "http://localhost:4567/tarefas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        320
      ],
      "id": "f36a23b4-45e3-417b-9c8e-f96327fd61e7",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "const tarefas = $input.all();\n\nconst titulo = $('AI Agent').first().json.output.titulo;\n\nconst tarefa = tarefas.find(item =>\n    item.json.titulo.toLowerCase() === titulo.toLowerCase()\n);\n\nif (!tarefa) {\n    throw new Error(\"Tarefa não encontrada.\");\n}\n\nreturn [\n    {\n        json: {\n            id: tarefa.json.id,\n            titulo: tarefa.json.titulo\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        320
      ],
      "id": "437e0a12-988a-4317-8a2a-9c9e60a7c7a0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://localhost:4567/tarefas/{{ $json.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        320
      ],
      "id": "658fc126-98fe-4175-a082-5b1aa0db3d5c",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"message\": \"Tarefa concluida com sucesso\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1104,
        320
      ],
      "id": "097c5650-9060-4663-bfa6-6600485e4542",
      "name": "Respond to Webhook3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ecbd6a01-b6c8-4cb4-8871-105480b00bd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a4edcdca486e432d965d520fd683fd2e83a278c2b3a94ceaee3da6d50e746e2"
  },
  "nodeGroups": [],
  "id": "QDWLknM0XyOQAsMJ",
  "tags": []
}