automation/workflows/003-ai-create-test.json
{
  "name": "003-ai-create-test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        64
      ],
      "id": "e8a4f18f-b273-4531-ab79-be9368363cb6",
      "name": "Webhook",
      "webhookId": "42ef4e73-6e30-46eb-8153-6facc43190cf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4567/tarefas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        48
      ],
      "id": "0ba25e1a-2848-419a-8f9a-120424044777",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6471ca5f-146c-4bc0-b5f3-e0bb7c008e18",
              "leftValue": "={{ $json.output.titulo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        64
      ],
      "id": "b0312f34-d8ce-47f6-88a5-72724e905712",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Campo 'title' obrigatório.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        32,
        224
      ],
      "id": "22d22378-7039-4f39-83c0-82c0e8f24914",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"message\": \"Webhook recebido com sucesso\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        432,
        48
      ],
      "id": "9dc18fdd-f400-452f-b6e1-ee6ba32146db",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"titulo\": \"{{ $json.output.titulo }}\",\n  \"descricao\": \"{{ $json.output.descricao }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -48
      ],
      "id": "35771f4b-0c2a-4a56-a3db-7b4b0d0b6156",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.mensagem }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um interpretador de comandos para um sistema de gerenciamento de tarefas.\n\nSua única função é extrair informações da mensagem enviada pelo usuário.\n\nResponda APENAS com um JSON válido.\n\nFormato:\n\n{\n  \"titulo\": \"\",\n  \"descricao\": \"\"\n}\n\nRegras:\n\n- Não explique nada.\n- Não use markdown.\n- Não use ```json.\n- Nunca escreva texto antes ou depois do JSON.\n- Se a descrição não existir, retorne uma string vazia."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        64
      ],
      "id": "83dc7e91-0830-4ee3-9c92-f2a6750297db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -624,
        272
      ],
      "id": "a4a19d9a-ffaa-4502-8d73-a5ecba7e6d4a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IjrlPl4c7FbqIFnn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"titulo\": {\n      \"type\": \"string\",\n      \"description\": \"Título da tarefa\"\n    },\n    \"descricao\": {\n      \"type\": \"string\",\n      \"description\": \"Descrição da tarefa\"\n    }\n  },\n  \"required\": [\n    \"titulo\",\n    \"descricao\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -240,
        288
      ],
      "id": "949a4085-f4c3-4e80-ab69-85c0737cb0d4",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f06ec45c-1a0e-4d50-ab19-adf449088b61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a4edcdca486e432d965d520fd683fd2e83a278c2b3a94ceaee3da6d50e746e2"
  },
  "nodeGroups": [],
  "id": "QDWLknM0XyOQAsMJ",
  "tags": []
}